<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.name}}</title>
    <style type="text/css">{{ source("/critical.css")}}</style>
    {{ fn('wp_head') }}
     <!--[if !IE]-->
         <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>  
    <!--<![endif]-->
    <!--[if IE]-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js"></script>
    <!--<![endif]-->
</head>
<body>