<div class="grid">
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
    <div class="grid__col"></div>    
</div>
